{
  "presets": ["react", "es2015", "stage-0"],
  "sourceMaps": true,
  "plugins": [
    "syntax-async-functions",
    "transform-regenerator",
    "transform-decorators-legacy",
    "transform-react-display-name",
    "material-ui",
    "lodash",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}