'use strict';

import {
{{#routes}}    {{routeComponentName}},
{{/routes}}
    {{appComponentName}}
} from '{{{containerPath}}}';

const relayQueries = require('{{{relayQueriesPath}}}');
const relayPrepareParams = require('{{{relayPrepareParamsPath}}}');

const routeSetup = {
    routeConfig: {
{{#routes}}        {{routeKeyName}}: {
            key: {{routeIndex}},
            name: '{{routeName}}',
            breadcrumbIgnore: {{breadcrumbIgnore}},
            breadcrumbName: '{{breadcrumbName}}',{{#isIndexRoute}}
            isIndexRoute: true,{{/isIndexRoute}}{{^isIndexRoute}}
            path: '{{{routePath}}}',{{/isIndexRoute}}
            component: {{routeComponentName}},
            {{#routePrepareParamFuncName}}prepareParams: (relayPrepareParams && relayPrepareParams.{{routePrepareParamFuncName}} ? relayPrepareParams.{{routePrepareParamFuncName}} : null),{{/routePrepareParamFuncName}}{{^routePrepareParamFuncName}}prepareParams: null,{{/routePrepareParamFuncName}}
            queries: {{#routeComponentQueriesName}}relayQueries.{{routeComponentQueriesName}}Queries{{/routeComponentQueriesName}}{{^routeComponentQueriesName}}null{{/routeComponentQueriesName}}

}{{^isLast}},{{/isLast}}
{{/routes}}
    },
    routePath: '{{{mainRoutePath}}}',
    appName: '{{appName}}',
    name: '{{name}}',
    AppComponent: {{appComponentName}},
    appQueries:{{#appComponentQueriesName}}relayQueries.{{appComponentQueriesName}}Queries{{/appComponentQueriesName}}{{^appComponentQueriesName}}null{{/appComponentQueriesName}}
};

export default routeSetup;
